<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

    <context:component-scan base-package="by.valery.firstProject"/>

    <!--<bean id="testBean"
          class="by.valery.firstProject.TestBean">
        <constructor-arg value="Valery"/>
    </bean>

      <bean id="musicBean"
          class="by.valery.firstProject.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

    <bean id="musicBeanPop"
          class="by.valery.firstProject.PopMusic">
    </bean>

    <bean id="musicBeanRock"
          class="by.valery.firstProject.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="by.valery.firstProject.MusicPlayer"
          scope="prototype">
        <property  name="music" ref="musicBeanPop"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <bean id="musicPlayer1"
          class="by.valery.firstProject.MusicPlayer">
    <property  name="musicList">
            <list>
                <ref bean="musicBeanPop"/>
                <ref bean="musicBeanRock"/>
                <ref bean="musicBeanClassical"/>
            </list>
    </property>

        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>